@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------- colours*/
.bg-color-heading{
    background-color: grey;
}

/*-------------------------------------------------- navigation bar*/
nav{
    background-color: #404040;
    height:80px;
    width: 100%;
}

label.logo{
    margin:auto;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 19px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "poppins", sans-serif;
}
a:link {
  text-decoration: none;
}

a.active{
    transition: .5s;
    color: white;
}

a:hover{
    color: #fff;
}

.hover{
    position: relative;
}

.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottomright;
    transition: transform 0.25s ease-out;
}
.hover:hover::before{
    
    transform: scaleX(1);
    transform-origin: bottomleft;
}

.bars{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#bars{
    display: none; 
}

/*-------------------------------------------------- header*/
.heading{
    border: 2px solid red;
    height: 230px;
}
.name{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
    text-align: center;
}

.title{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 15px;
    color: #fff;
    text-align: center;
}
.img{
    justify-content: center;
    display: flex;
    align-items: center;
}
.myimage{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}
/*-------------------------------------------------- my info*/
.aboutme{
    border: 2px solid red;
    background-color: grey;
}
.header{
    margin-left: 36px;
    margin-top: 5px;
}

.aboutme-item{
    margin-left: 24px;
}
.key{
    font-family: "poppins",sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 7px 0;
}
.value{
    font-family: "poppins",sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 3px;
}
/*-------------------------------------------------- three reasons*/
.three-reasons{
    border: 2px solid red;
    background-color: grey;
}
/*-------------------------------------------------- media queries*/
@media (max-width: 952px){
    
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    /*--------------------------------------------------media navigation bar*/
    .bars{
    display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #525252;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }
    nav{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    .hover{
    position: relative;
}
.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottomright;
    transition: transform 0.25s ease-out;
}
.hover:hover::before{
    transform: scaleX(1);
    transform-origin: bottomleft;
}
    #bars:checked ~ ul{
        left: 0;
    }
}