*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
/* ----------------------------------------External css*/
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}
/* ----------------------------------------External css end*/

.bg-color-heading{
    background-color: #C1C1C1;
}
.bg-color-pinfo{
    background-color: #D2D2D2;
}

body{
    font-family: montserrat;
    background-color: #F1EDED;
}
.container-fluid{
    padding: 0px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.row{
    margin:0;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}
.personal-info-item{
    padding-left: 35px
}
.history-heading,
.section-heading {
    font-family: "montserrat", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-left: 15px;
}



/*------------------------- navigation bar*/
nav{
    background-color: #5D5B5B;
    height:80px;
    width: 100%;
}

label.logo{
    margin:auto;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
}
a:link {
  text-decoration: none;
}

a.active{
    background-color: #E78436;
    color: white;
    transition: .5s;
}
#nave:hover{
    background-color: #E78436;
    color: white;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none; 
}

/*header*/
.heading{
    margin-left: 50px;
    margin:auto;
    padding: 25px;
    
}

/*my image */
.logoimage{
    padding: 0px 20px;
}
#myimg{
    height: 15vw;
    width:  15vw;
    border-radius: 50%;
    padding:auto;
    margin-top: 25px
}
/*personal info*/



/*three reasons*/



/*footer*/

.footer {
    background-color: #5D5B5B;
    color: white;
}

.cv-pdf i {
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #504f4f;
    transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details {
    padding: 25px;
}


@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media (max-width: 952px){
    /*------------------------- navigation bar*/
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    /*------------------------- navigation bar*/
    .checkbtn{
    display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #525252;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    a:hover,a.active{
        background: none;
        background-color: darkorange;
    }
    #check:checked ~ ul{
        left: 0;
    }
}