@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500;600&family=PT+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style: none;
}
body{
    background-color:  #404040;
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
/*--------------------------------------------------Colours*/
.bg-color-heading{
    background-color:;
}

/*--------------------------------------------------Navigation-Bar*/
nav{
    height:80px;
    width: 100%;
}

label.logo{
    margin:auto;
    color: #d9d9d9;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
ul{
    margin-bottom: 0;
}
nav ul{
    float: right;
    margin-right: 35px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #d9d9d9;
    font-size: 19px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
}
nav a:hover {
  text-decoration: none;
}

nav a.active{
    transition: .5s;
}

a:hover{
    color: white;
    text-shadow: 0px 0px 10px;
}

.hover{
    position: relative;
}
.active{
    color: white;
    text-shadow: 0px 0px 10px;
}
.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d9d9d9;
    transform-origin: bottomright;
    transition: transform 0.25s ease-out;
}
.hover:hover::before{
    
    transform: scaleX(1);
    transform-origin: bottomleft;
}

.bars{
    font-size: 30px;
    color: #d9d9d9;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#bars{
    display: none; 
}

/*--------------------------------------------------Header*/
.heading{
    height: 215px;
    
}
.name{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 600;
    font-size: 66px;
    margin-top: 25px;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 5px;
    color: #d9d9d9;
}

.title{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 400;
    font-size: 26px;
    margin-top: 15px;
    text-align: center;
    color: #d9d9d9;
}
.img{
    justify-content: center;
    display: flex;
}

.myimage{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
/*--------------------------------------------------Footer*/
footer{
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: 10px 0; 
}
.footer{
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer-icons{
    padding: 0px 20px;
    font-size: 25px;
    color: #d9d9d9;
}
/*--------------------------------------------------Contact-Form*/
.contact-form{
    padding-top: 100px;
    text-align: center;
    display: block;
}
.form-item{
    justify-content: center;
    display: flex;
    align-items: center;
}
.form-header {
    text-align: center;
    color: #d9d9d9;
    font-family: 'Baloo Thambi 2', cursive;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.form-text:focus{
  box-shadow: 0 0 10px 4px #1a1c1f;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  border: 0;
  background: #595959;
  color: #fff;
  padding: 12px 25px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #808080 ;
}
/*--------------------------------------------------Time-Line*/
.timeline-item {
    margin-left: 35px;
    padding: 3em 2em 2em;
    position: relative;
    color:  #d9d9d9;
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    font-family: 'Baloo Thambi 2', cursive;
} 
.timeline-item p {
    font-size: 1rem;
}
.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    top: 1em;
    display: block;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 600;
    font-size: 0.785rem;
}
.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: '';
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: white;
}

/*--------------------------------------------------My-Skills*/
.my-skills{
    font-family: 'Baloo Thambi 2', cursive;
    color: #d9d9d9;
    margin-left: 50px;
}
.front-end,.back-end{
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 600;
    color: #d9d9d9;
    display: inline-block;
    padding: 10px 0;
}
.front-end{
    margin: 20px 0;
}
.back-end{
    margin-left: 40px;
}
/*--------------------------------------------------Progress-Bar*/
.bar-progress{
    font-family: 'Baloo Thambi 2', cursive;
    width: 500px;
    color:#d9d9d9;
    margin-left: 50px;
}
.bar-progress li{
    margin: 20px 0;
}
.bar{ 
    background: #353b48;
    display: block;
    height: 4px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
    box-shadow: 0 0 10px  #737373;

}
.bar span{
    height: 2px;
    float: left;
    background: #9f9fdf;

}
.html5{
    width: 70%;
    animation: html5 3s;
}
.css3{
    width: 60%;
    animation: css3 3s;
}
.javascript{
    width: 5%;
    animation: javascript 3s;
}
/*--------------------------------------------------Key-Frames*/
@keyframes javascript{
    0%{
        width: 0;
    }
    100%{
        width: 5%;
    }
}
@keyframes css3{
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}
@keyframes html5{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
/*--------------------------------------------------Media-Queries*/
@media (max-width: 952px){
    
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .my-skills{
        margin-left: 0;
    }
    .back-end{
        margin-left: 0;
    }
    .bar-progress{
        width: 350px;
        margin-left: 0;
    }
    /*--------------------------------------------------media navigation bar*/
    .bars{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #666666;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }
    nav{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    .hover{
        position: relative;
    }
    .hover::before{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #d9d9d9;
        transition: transform 0.25s ease-out;
    }
    .hover:hover::before{
        transform: scaleX(1);
    }
        #bars:checked ~ ul{
            left: 0;
        }
}

@media (max-width:400px){
    /*--------------------------------------------------media my skills*/
    .bar-progress{
    width: 250px;
    }

}