@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: #e6e6e6;
}
.row{
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
    padding: 0;
}
/*-------------------------------------------------- colours*/
.bg-color-heading{
    background-color:;
}

/*-------------------------------------------------- navigation bar*/
nav{
    height:80px;
    width: 100%;
}

label.logo{
    margin:auto;
    color: grey;
    font-size: 45px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: grey;
    font-size: 19px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "poppins", sans-serif;
}
nav a:link {
  text-decoration: none;
}

nav a.active{
    transition: .5s;
    color: grey;
}

a:hover{
    color: grey;
    text-shadow: 0px 0px 10px;
}

.hover{
    position: relative;
}
.active{
    text-shadow: 0px 0px 10px;
}
.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transform-origin: bottomright;
    transition: transform 0.25s ease-out;
}
.hover:hover::before{
    
    transform: scaleX(1);
    transform-origin: bottomleft;
}

.bars{
    font-size: 30px;
    color: grey;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#bars{
    display: none; 
}

/*-------------------------------------------------- header*/
.heading{
    height: 230px;
    margin: 15px 0;
}
.name{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 66px;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 5px;
}

.title{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 26px;
    margin-top: 15px;
    text-align: center;
}
.img{
    justify-content: center;
    display: flex;
}
.myimage{
    height: 225px;
    width: 225px;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
    
}
/*-------------------------------------------------- footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    padding: 10px 0; 
}
.footer{
    justify-content: center;
    display: flex;
    align-items: center;
}
.footer-icons{
    padding: 0px 20px;
    font-size: 25px;
    color: grey;
}

/*-------------------------------------------------- media queries*/
@media (max-width: 952px){
    
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    /*--------------------------------------------------media navigation bar*/
    .bars{
    display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #d9d9d9;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }
    nav{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    .hover{
    position: relative;
}
.hover::before{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: grey;
    transition: transform 0.25s ease-out;
}
.hover:hover::before{
    transform: scaleX(1);
}
    #bars:checked ~ ul{
        left: 0;
    }
}