@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/*-------------------------------------------------- navigation bar*/
nav{
    background-color: #404040;
    height:80px;
    width: 100%;
}

label.logo{
    margin:auto;
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: "poppins", sans-serif;
}
a:link {
  text-decoration: none;
}

.active{
    background-color: #a366ff;
    color: white;
    transition: .5s;
}
nav ul a:hover{
    color: #fff;
    background-color: #a366ff;
    transition: 1.5s;
}

.bars{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#bars{
    display: none; 
}

@media (max-width: 952px){
    
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    /*-------------------------------------------------- navigation bar*/
    .bars{
    display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #525252;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }
    nav{
        width: 100%;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        text-decoration: none;
    }
    a:hover,a.active{
        background: none;
        background-color: #a366ff;
    }
    #bars:checked ~ ul{
        left: 0;
    }
}